  body {
            font-family: Arial, sans-serif;
        
            background-color: #f9f9f9;
        }
        h1 {
            color: #333;
        }
        table {
            width: 100%;
            border-collapse: collapse;
            margin: 20px 0;
        }
        th, td {
            border: 1px solid #ddd;
            padding: 8px;
            text-align: left;
        }
        th {
            background-color: #f2f2f2;
        }
        main{
            text-align: center;
        }
.info{
    width: 350px;
    
}
.download-link {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 15px;
    background-color: #545655; /* Color verde */
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.download-link:hover {
    color:black;
    background-color: #939894; /* Color verde oscuro en hover */
}


/*  estilos de la semana 03 */

.code {
    display: none;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    padding: 10px;
    margin-top: 5px;
}
.section {
    cursor: pointer;
    margin-bottom: 10px;
    padding: 10px;
    background-color: #e7f1ff;
    border: 1px solid #007bff;
}
.section:hover {
    background-color: #d1e7ff;
}
.github-link {
    display: block;
    margin-top: 5px;
    padding: 8px;
    background-color: #28a745;
    color: white;
    text-align: center;
    text-decoration: none;
    border-radius: 4px;
}
.github-link:hover {
    background-color: #218838;
}

.section {
    margin-bottom: 20px; /* Espacio entre tareas */
}

.github-link {
    display: block; /* Esto asegura que cada enlace esté en una nueva línea */
    margin-top: 5px; /* Espacio adicional entre el código y el enlace */
}
.colum{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 25px;
}
.download-link {
    display: block;
    margin-top: 10px;
    padding: 10px;
    background-color: #007bff;
    color: white;
    text-align: center;
    text-decoration: none;
    border-radius: 4px;
}

.download-link:hover {
    background-color: #0056b3;
}
.code p{
    text-align: left;
}
